@import "../../scss/colours";
.accessDenied{
  margin-bottom: 20px;
  .anticon{
    margin-bottom: 20px;
    font-size: 80px;
    color: $rose;
  }
  p{
    font-weight: 700;
    font-size: 20px;
  }
}

