@import "../../../scss/colours.scss";

.createReminderModal {
    &-logo {
        font-size: 48px;
    }

    &-status {
        color: $green;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 24px;
        margin-bottom: 20px;
        text-transform: capitalize;
        font-weight: 700;
    }

    .ant {
        &-modal {
            &-footer { 
                border-top: 0px;
            }
        }
    }
}