@import "../../scss/theme";
@import "../../scss/colours";

.main {
  width: 100%;
  height: 100%;
  background-color: $body-background;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow: auto;
  .leftmenu {
    width: 320px;
    border-right: $border-width-base $border-style-base $border-color-split;
    :global {
      .ant-menu-inline {
        border: none;
      }
      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        font-weight: bold;
      }
    }
  }
  .right {
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  :global {
    .ant-list-split .ant-list-item:last-child {
      border-bottom: 1px solid #e8e8e8;
    }
    .ant-list-item {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .main {
    flex-direction: column;
    .leftmenu {
      width: 100%;
      border: none;
    }
    .right {
      padding: 40px;
    }
  }
}

.dangerTitle{
  color: $rose;
}

.loadingStatus{
  font-size: 20px;
  .loadingStatusIcon{
    margin-right: 6px;
    font-size: 22px;
  }
  .success{
    color: $green
  }
  .active{
    color: $sofihubBlue
  }
  .error{
    color: $rose
  }
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.my-editor{border:1px solid #d1d1d1;border-radius:5px;}.my-editor .bf-content{height:250px}

.ant-list-header {
  font-weight: bold;
}

.vertical-form-label-nowrap{
  .ant-form-item-label > label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
