@import "../../../../../scss/theme";

.baseView {
  display: flex;
  padding-top: 12px;

  .left {
    max-width: 448px;
    min-width: 224px;
  }
  .right {
    flex: 1;
    padding-left: 104px;
  }
}

@media screen and (max-width: $screen-xl) {
  .baseView {
    flex-direction: column-reverse;

    .right {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 448px;
      .avatar_title {
        display: none;
      }
    }
  }
}
