@import "../../scss/colours.scss";
@import "../../scss/mixins.scss";
@import "../../scss/theme.scss";

.beaconInfoOff {
    margin-bottom: 24px;
    padding: 12px 16px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    font-weight: 700;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    .anticon{
        font-size: 12px;
    }
}

.beaconInfoWindow {

    width: 220px;
    background-color: white;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 14px;
    z-index: 100;
}

.beaconMapContainer{
    border-radius: 4px;
    border: 2px solid #d9d9d9;
}

.beaconPage {
    position: relative;
    display: flex;
    min-height: calc(100vh - 80px);

    @include breakpoint(md) {
        flex-direction: column;
    }

    @media all and (max-width: 375px) {
        min-height: calc(100vh - 66px);
    }

    &-info {
        border-radius: 10px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
        padding: 12px 8px;
        position: absolute;
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        background: $white;
        opacity: 0.9;
        z-index: 1;
        .link{
            font-weight: 700;
        }
        @include breakpoint(md){
            left: 0;
            top: 0;
            padding: 20px;
            position: relative;
            border-radius: 0;
            box-shadow: none;
            min-width: auto;
            width: 100%;
        }
    }

    &-statusCard{
        white-space: break-spaces;
        font-size: 16px;
        height: 100%;
        @media all and (max-width: $screen-xl) {
            font-size: 14px;
        }
        .fontHeading{
            font-weight: 600;
        }
        .signalIcon{
            line-height: 1;
            font-weight: 600;
            font-size: 80px;
            text-align: center;
        }
        .batteryIcon{
            line-height: 1;
            font-weight: 600;
            font-size: 70px;
            text-align: center;
        }
        .alignBottom{
            width: 100%;
            margin-top: auto;
        }
        .ant-card-body{
            height: 100%;
            padding: 0 12px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
        }

    }

    &-geofence {
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
        padding: 12px 8px;
        position: absolute;
        top: 30px;
        left: 30px;
        width: 75%;
        background: $white;
        z-index: 1;

        &-column {
            margin-bottom: 10px;
        }

        @include breakpoint(xl) {
            width: 85%;
        }

        @include breakpoint(md){
            left: 0;
            top: 0;
            position: relative;
            border-radius: 0;
            box-shadow: none;
            min-width: auto;
            width: 100%;
        }
    }

    &-noGeofence {
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
        padding: 12px 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: $white;
        z-index: 1;
    }

    &-headstate {
        font-weight: 500;
        vertical-align: middle;
        white-space: pre;
        border-radius: 4px;
        border-color: transparent;
        position: absolute;
        top: 20px;
        left: 30px;
        width: 85%;
        background: transparent;
        z-index: 1;

        &-column {
            margin-bottom: 10px;
        }

        @media all and (max-width: 1350px) {
            width: 90%;
        }

        @media all and (max-width: $screen-md) {
            left: 0;
            top: 0;
            padding: 20px;
            position: relative;
            border-radius: 0;
            box-shadow: none;
            min-width: auto;
            width: 100%;
        }
        .avatarContainer{
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            svg{
                font-size: 100px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 66px;
            }
            img{
                font-size: 100px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 54px;
            }
        }

        .fontHeading{
            white-space: pre;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 0;
        }
        .statusRightContainer{
            margin: 6px 12px;
        }


    }

    &-alertdetail {
        white-space: break-spaces;
        font-weight: 500;
        vertical-align: middle;
        position: absolute;
        top: 30px;
        left: 30px;
        width: calc(100% - 60px);
        background: transparent;
        z-index: 1;

        @media all and (max-width: $screen-md) {
            left: 0;
            top: 0;
            position: relative;
            border-radius: 0;
            box-shadow: none;
            min-width: auto;
            width: 100%;
            overflow: auto;
        }
        .ant-card-small > .ant-card-body{
            padding: 0;
        }
        .accurateCard{
            font-weight: 500;
            vertical-align: middle;
            white-space: break-spaces;
            width: fit-content;
            position: relative;
            top: 24px;
            left: 24px;
            background: white;
            z-index: 1;

            @media all and (max-width: $screen-md) {
                left: 0;
                top: 0;
                overflow: auto;
                position: relative;
                border-radius: 0;
                box-shadow: none;
                min-width: auto;
                width: 100%;
            }

            .ant-card-body{
                padding: 12px;
            }
        }
    }

    &-card {
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        width: auto;
    }

    &-fence {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 10px;
        user-select: none;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: white;
    }

    &-blueSpot {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        user-select: none;
        transform: translate(-50%, -50%);
    }

    &-spot {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        height: 40px;
        margin-top: -20px;
        user-select: none;
        transform: translate(-50%, -50%);
    }

    &-dot {
        border-style: solid;
        border-width: thin;
        border-color: $rose;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 10px;
        width: 10px;
        user-select: none;

        &__popover {
            font-size: 12px;
            width: 200px;
        }

    }

    &-signalDot {
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 24px;
        width: 24px;
        user-select: none;

        &__popover {
            font-size: 12px;
            width: 200px;
        }

    }

    &-infor {
        &-display {
            @include textOverflow;
            font-size: 12px;

            @media all and (max-width:768px){
                font-size: 14px;
            }
        }

        &-address {
            font-size: 12px;

            @media all and (max-width:768px){
                font-size: 14px;
            }
        }

        &-label {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: break-spaces;
            font-size: 12px;

            @media all and (max-width:768px){
                font-size: 14px;
            }
        }
    }

    &-map {
        position: relative;
        width: 100%;

        @include breakpoint(md) {
            height: 73vh;
            margin: 0 20px 20px 20px;
            border-radius: 15px;
            overflow: hidden;
            width: 100%;
        }

        @media all and (max-width: 470px) {
            height: 65vh;
            margin: 0;
        }

        &-nolocation{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            @include breakpoint(sm) {
                .ant-alert-message {
                    font-size: 12px;
                }
            }
        }
    }
}
.beacon {
    &-container {
        margin: auto;
        width: 65%;

        @include breakpoint(xl) {
            width: 100%;
        }
    }

    &-card {
        margin-bottom: 16px;
        .ant-slider-track{
            background-color: transparent;
        }
        .ant-slider-dot-active{
            border-color: #e8e8e8;
        }
    }

    &-input {
        margin-bottom: 10px;
    }

    &-buttonGroup {
        display: flex;
        justify-content: flex-end;
    }

    &-emergencies {
        &-wrap {
            padding-left: 40px;
            width: 100%;

            @include breakpoint(xl) {
                padding-left: 0;
            }
        }
    }
    &-timeline {
        .header{
            font-size: 18px;
            font-weight: bold;
        }
        .ant-timeline-item{
            padding-bottom: 0;
        }
        .ant-timeline-item-head{
            height: 16px;
            width: 16px;
        }
        .ant-timeline-item-head-blue{
            background: $blue;
        }
        .ant-timeline-item-head-red{
            background: $rose;
        }
        .ant-timeline-item-head-green{
            background: $green;
        }
        .ant-timeline-item-tail{
            height: calc(100% + 12px);
            left: 6px;
            border-left: 3px solid $blue
        }
        .ant-timeline-item-head-custom{
            height: 8px;
            width: 20px;
            left: 17px;
            top: calc(50% - 8px);
        }
        .ant-card-small > .ant-card-body {
            padding: 0 12px 0 0;
            margin-bottom: 12px;
        }
    }

}

.filter {
    &-history {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 12px;
        // min-width: 650px;
        z-index: 1;

        @include breakpoint(md) {
            position: static;
            margin: 0 20px 20px 20px;
            min-width: auto;
        }

        &__date {
            .ant-calendar-picker-input {
                border: 0;
                border-bottom: 2px solid;
                border-radius: 0;
                font-size: 12px;
            }

            @include breakpoint(sm) {
                min-width: auto;

                .ant-calendar-picker-input {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            @media all and (max-width: 320px) {

                .ant-calendar-picker-input {
                    font-size: 11px;
                }
            }
        }

        &__arrow {
            border-radius: 10px;
            font-size: 12px;

            @include breakpoint(sm) {
                padding: 4px;
            }
        }

        &__arrowGroup {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
}

.key{
    border-radius: 10px;
    width: 250px;
    height: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.ant-collapse-header {
    padding-left: 0;
    font-weight: 700;
}

.fallIcon {
    font-size: 32px;
    margin-right: 16px;
}

.batteryLife{
    margin-bottom: 12px;
    .estimate{
        min-height: 152px;
        min-width: 140px;
        width: 100%;
        border: 1px solid $lightText;
        margin-right: 12px;
        padding: 8px;
        border-radius: 12px;
        position:relative;
        span{
            position: absolute;
            bottom: 20px;
        }
    }
    .estimateMobile{
        width: 100%;
        border: 1px solid $lightText;
        border-radius: 12px;
        .textBox{
            padding: 8px;
        }
        img{
            width: 100%;
            border-radius: 0 0 12px 12px;
            height: auto;
            max-height: 180px;
            object-fit: cover;
            padding: -8px;
        }
    }
    .estimateImage {
        flex: 10;
        .borderContainer{
            display: flex;
            border: 1px solid $lightText;
            border-radius: 12px;
            .textBox{
                width: 160px;
                padding: 8px;
            }
            img{
                flex: 1;
                border-radius: 0 12px 12px 0;
                height: auto;
                max-height: 150px;
                object-fit: cover;
            }
        }
    }
}

.phoneInput{
    min-width: 140px;
}

@keyframes cf3FadeInOut {
    0% {
        opacity:0;
    }
    45% {
        opacity:0.45;
    }
    55% {
        opacity:0.55;
    }
    100% {
        opacity:1;
    }
}

#sideButton img.top {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

#sideButton img{
    max-width: 80px;
    height: auto;
    position: absolute;
}

#inboundCalls img{
    max-width: 255px;
    height: auto;
}

#hangUpIcon img{
    max-width: 100px;
    height: auto;
}

.beaconAddressModalMap{
    height: 30vh;
    @include breakpoint(md) {
        height: 25vh;
        margin: 0 20px 20px 20px;
        border-radius: 15px;
        overflow: hidden;
    }

    @media all and (max-width: 470px) {
        height: 25vh;
        margin: 0;
    }
}

.beaconAddressModalIconContainer{
    display: inline-block;
    width: 40px;
    text-align: center;
}

.beaconPrefixCard{
    background: rgb(240,242,245);
    background: linear-gradient(180deg, rgba(240,242,245,1) 0%, rgba(255,255,255,1) 100%);
    &-body{
        background: -webkit-linear-gradient(90deg, #C9CBCD 0%, rgba(0,0,0,0.65) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.mobileStatusIcon{
    font-size: 36px;
}

.historyLogCard{
    .ant-collapse{
        width: 100%;
    }
}
