@import "../../scss/colours";
@import "../../scss/theme";

.DeviceCard {
    min-height: 90px;
    height: 1px;
    border-radius: 12px;
    width: 100%;
    button{
        border: 2px solid white;
        color:$white;
        margin-bottom: 8px;
    }
    .deviceCardRow{
        min-height: inherit;
    }
    .deviceStatus{
        width: fit-content;
        padding: 0 6px;
        margin-left: 0;
        margin-right: 8px;
        font-size: 14px;
        font-weight: 500;
        top: 2px;
        border: $white 1px solid;
        color: $white;
        &-offline{
          background: $rose;
          border-color: $rose;
        }
    }
    .ant-card-body{
        height:100%;
        padding: 2px 2px 2px 12px;
    }

    .ant-row-bottom{
        height:100%;
    }

    .deviceIconCol{
        height: auto;
        width: 50px;
    }
    .deviceNameCol{
        max-width: calc(100% - 54px);
        flex: 1;
        height: 100%;
        border-radius: 0 8px 8px 0;
    }
    .deviceTitle{
        overflow: hidden;
        font-size: 18px;
        font-weight: 600;
        white-space: pre;
        text-overflow: ellipsis;
    }
    .deviceDesc{
        font-size: 12px;
        font-weight: 500;
    }
    .hubName {
        position: absolute;
        bottom: 0;
        max-width: 100%;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        .deviceDisplayName{
            vertical-align: bottom;
            max-width: inherit;
            overflow: hidden;
            white-space: pre;
            text-overflow:ellipsis;
            display:inline-block;
        }
    }

    .hub {
        width: 40px;
        height: 90px;
    }

    .beacon {
        width: 40px;
        height: 45px;
    }

    .radar {
        width: 40px;
        height: auto;
        padding-bottom: 8px;
    }
}

.DeviceCard-distress{
    background: $rose;
    color: white;
}

.DeviceCard-offline{
    background: $midText;
    color: white;
}

.DeviceCard-warning{
    background: $warning-color;
    color: white;
}

.DeviceCard-good{
    background: $green;
    color: white;
}

.zeroPerson{
    opacity: 0.5;
}
.zeroPersonDelete{
    opacity: 1;
    content:"";
    position:absolute;
    left:4px;
    top:8px;
    width:50%;
    box-sizing:border-box;
    border-bottom:2px solid white;
    transform-origin:bottom center;
    transform:rotate(315deg);
}
