@import '../../scss/colours';
@import '../../scss/theme';

.steps-content {
    min-height: 220px;
}

.steps-action {
    margin-top: 24px;
    min-height: 30px;
}

.floatRight{
    float: right;
}

.ant-steps {
    margin-left: -15px;
}

.roundLogoContainer{
    background: $darkgreen;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 50px solid $darkgreen;
    border-radius: 50%;
    cursor: pointer;
    @media (max-width: $screen-xs) {
        width: 100px;
        height: 100px;
        border: 20px solid $darkgreen;
        margin-bottom: 20px;
    }
}

.claimImg {
    width: 100px;
    height: 100px;
    @media (max-width: $screen-xs) {
        width: 60px;
        height: 60px;
    }
}

.claimRadarImg {
    width: 80px;
    height: 100px;
    @media (max-width: $screen-xs) {
        width: 45px;
        height: 60px;
    }
}

.claimText{
    color: $darkgreen;
    font-size: 18px;
    font-weight: 400;
    @media (max-width: $screen-xs) {
        font-size: 14px;
    }
}
